In [ ]:
# imports
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import numpy as np
import matplotlib.ticker as ticker

#set display options
pd.set_option('display.max_columns', None)
plt.style.use('default')

%matplotlib inline

In [ ]:
#load the csv
df = pd.read_csv("netflix_content_2023.csv")

#display basic info
print("Data Info:")
print(df.info())
print("\nFirst few rows:")
print(df.head())
print("\nStatistical Summary:")
print(df.describe())

df

In [ ]:
print("Missing Values Per Column:")
print(df.isnull().sum())
df['Release Date'] = pd.to_datetime(df['Release Date'])

df.set_index('Release Date', inplace=True)

print("Missing Values Per Collumn:")
print(df.isnull().sum())

df.sort_index(inplace=True)

print("\nProcessed Data:")
df

In [ ]:
# Create a simple line plot
plt.figure(figsize=(12, 6))
plt.plot(df.index, df['Hours Viewed'])
plt.title('Hours Watched Over Time')
plt.xlabel('Release Date')
plt.ylabel("Hours Watched")
plt.grid(True, alpha=0.3)

fig, axs = plt.subplots(1, 1, figsize=(12, 10), layout='constrained')
print(type(df['Hours Viewed']))

sjs = df['Hours Viewed'].str.replace(',', '')
sjs = sjs.astype(int)

axs.plot(df.index, sjs)
axs.set_title('Hours Watched Over Time')
axs.set_yticks(np.arange(0, 1000000000, 1000000000/10))
axs.set_ylabel('Hours Watched (In Hundred Millions)')
#axs.set_yticklabels(fontdict={'fontsize': 10})

plt.show()

In [ ]:
# Language Subsets
Englishdf = df[df['Language Indicator'] == "English"].copy()
Koreandf = df[df['Language Indicator'] == "Korean"].copy()
Japanesedf = df[df['Language Indicator'] == "Japanese"].copy()
Hindidf = df[df['Language Indicator'] == "Hindi"].copy()
Russiandf = df[df['Language Indicator'] == "Russian"].copy()
NonEnglishdf = df[df['Language Indicator'] == "Non-English"].copy()


#display(Englishdf)
#display(Koreandf)
#display(Japanesedf)
#display(Hindidf)
#display(Russiandf)
#display(NonEnglishdf)

In [24]:
#Content Type Subsets
Moviedf = df[df['Content Type'] == "Movie"].copy()
Showdf = df[df['Content Type'] == "Show"].copy()

#display(Moviedf)
#display(Showdf)

,Title,Available Globally?,Release Date,Hours Viewed,Language Indicator,Content Type
4,Queen Charlotte: A Bridgerton Story,Yes,5/4/2023,"50,30,00,000",English,Movie
11,Kaleidoscope: Limited Series,Yes,1/1/2023,"25,25,00,000",English,Movie
13,The Mother,Yes,5/12/2023,"24,99,00,000",English,Movie
15,Crash Course in Romance: Limited Series // 일타 ...,Yes,1/14/2023,"23,48,00,000",Korean,Movie
19,Luther: The Fallen Sun,Yes,3/10/2023,"20,97,00,000",English,Movie
...,...,...,...,...,...,...
24806,W. Kamau Bell: Private School Negro,Yes,6/26/2018,"1,00,000",English,Movie
24808,Whitney Cummings: Can I Touch It?,Yes,7/30/2019,"1,00,000",English,Movie
24809,Whitney Cummings: Jokes,No,7/26/2022,"1,00,000",English,Movie
24810,"Whose Vote Counts, Explained: Limited Series",Yes,9/28/2020,"1,00,000",English,Movie
24811,Zach Galifianakis: Live at the Purple Onion,No,NaN,"1,00,000",English,Movie

,Title,Available Globally?,Release Date,Hours Viewed,Language Indicator,Content Type
0,The Night Agent: Season 1,Yes,3/23/2023,"81,21,00,000",English,Show
1,Ginny & Georgia: Season 2,Yes,1/5/2023,"66,51,00,000",English,Show
2,The Glory: Season 1 // 더 글로리: 시즌 1,Yes,12/30/2022,"62,28,00,000",Korean,Show
3,Wednesday: Season 1,Yes,11/23/2022,"50,77,00,000",English,Show
5,You: Season 4,Yes,2/9/2023,"44,06,00,000",English,Show
...,...,...,...,...,...,...
24798,Transformers: Cyberverse: Season 4,No,NaN,"1,00,000",English,Show
24799,Travel Man: 48 Hours in...: Season 9,No,NaN,"1,00,000",English,Show
24802,Vem Dançar com o Universo Z: Season 3,No,NaN,"1,00,000",Non-English,Show
24803,Vietnamese Horror Story: Season 1 // Chuyện ma...,No,NaN,"1,00,000",Non-English,Show
24807,We Are Black and British: Season 1,No,NaN,"1,00,000",English,Show